.conteudo{
    background: #DCDCDC;
    border: 2px solid blue;
}

.row{
    background: #FFEBCD;
    border: 2px solid black;
}

.coluna{
    background: #87CEEB;
    border: 2px solid black;
}